.App {
  text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.createModal {
  font-size: 1.5rem;
  position: absolute;
  width: 25%;
  height: 30%;
  top: 25%;
  left: 38%;
  background-color: rgb(28, 28, 28);
  border-radius: 20px;
}

.showModal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(36, 29, 255, 0.353);
  margin: 0;
  padding: 0;
  display: none;
}

.modal {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 80vw;
  height: 75vh;
  background-color: rgb(149, 149, 149);
  border-radius: 20px;
  display: none;
}

.mainContainer {
  background-color: #ebeef3;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.mainPage {
  // background-color: white;
  min-height: 70vh;
  display: flex;
  // justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  .mainBoard {
    // background-color: white;
    display: flex;
    flex-direction: row;
    .jobFeed {
      background-color: white;
      margin: 10px;
      min-width: 20vw;
    }
    .jobBoard {
      background-color: white;
      margin: 10px;
      min-width: 70vw;
      .ul {
        list-style-type: none;
      }
      .plain-button {
        border: none;
        padding: 0;
        margin: 0;
        background-color: inherit;
        font-size: calc(10px + 2vmin);
      }
      .board {
        display: flex;
        flex-direction: row;
        .jobColumn {
          background-color: aqua;
          margin: 10px;
          min-width: 18vw; 
          min-height: 60vh;
          .jobColumnElem {
            background-color: purple;
          }
        }
      }
    }
  }
}

.footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.logoutButton {
  
}